<!-- cited from https://github.com/CoreyMSchafer/code_snippets/blob/master/Django_Blog/03-Templates/django_project/blog/templates/blog/home.html-->
{% extends 'myBlog/base.html' %}

{% block content%}
    <div>
      <h2>  </h2>
        <form method = 'GET' action = ''>
        <input type = 'text' name = 'q' placeholder = 'Search Content'/>
        <input type = 'submit' name = 's' value = 'Search'/>
        <input type = 'submit' name = 'search_fav' value = 'Search Favorites Only'/>
      <h2>  </h2>
    </div>
    {% if query_type %}
        {% for post in posts %}
            {% for key, value in fav_status.items %}
                {% if key == post and value == True%}
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2" href="#">{{ post.author }}</a>
                                <small class="text-muted">{{ post.date_posted}}</small>
                            </div>
                            <h5><a class="article-title" href="{% url 'individual-post' post.id %}">{{ post.subject }}</a></h5>
                            <p class="article-content">{{ post.content }}</p>
                            <div class = 'text-right'>
                                {% for key, value in like_num.items %}
                                    {% if key == post %}
                                        {% if value == 1 %}
                                            <button type="button" class="btn btn-secondary btn-sm" disabled>{{value}} like</button>
                                        {% else %}
                                            <button type="button" class="btn btn-secondary btn-sm" disabled>{{value}} likes</button>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </article>
                 {% endif %}
            {% endfor %}
        {% endfor %}

    {% else %}
        {% for post in posts %}
            <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted}}</small>
                </div>
                <h5><a class="article-title" href="{% url 'individual-post' post.id %}">{{ post.subject }}</a></h5>
                <p class="article-content">{{ post.content }}</p>
                <div class = 'text-right'>
                    {% for key, value in like_num.items %}
                        {% if key == post %}
                            {% if value == 1 %}
                                <button type="button" class="btn btn-secondary btn-sm" disabled>{{value}} like</button>
                            {% else %}
                                <button type="button" class="btn btn-secondary btn-sm" disabled>{{value}} likes</button>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            </article>
        {% endfor %}
    {% endif %}

{% endblock %}



